{% extends 'base.html' %}
{% block content %}
  <p>hello vercel
  yay it works and i have had a successfull deployment lets push and try again</p>
  <p>i am so happy that indeed  i have had my first deployment i dont get the thing that it works base of
  trial or we give up to quickly or what now i am commiting this to git again and asking for the webpage cause
  it will be automatically rendered and that is pretty fine cause i can start working now on the real sit and all that is</p>
{% endblock %}
